absl-py==0.2.2
astor==0.6.2
bleach==1.5.0
click==6.7
Flask==1.0.2
Flask-Cors==3.0.4
gast==0.2.0
grpcio==1.12.0
html5lib==0.9999999
itsdangerous==0.24
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.3
protobuf==3.5.2.post1
python-crfsuite==0.9.5
scikit-learn==0.19.1
scipy==1.1.0
simplejson==3.15.0
six==1.11.0
sklearn==0.0
sklearn-crfsuite==0.3.6
tabulate==0.8.2
tensorboard==1.7.0
tensorflow==1.7.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
tqdm==4.23.4
Werkzeug==0.14.1
h5py==2.8.0
